<md-grid-list cols="1" rowHeight="100px" [style.background]='primary'>
    <md-toolbar color="primary">

            <span>
                AppName
            </span>
        <span class="example-spacer"></span>
        <button md-button routerLink="/">Home</button>
        <button md-button *ngIf="!auth.isAuthenticated()"
                (click)="auth.login()">Log In
        </button>
        <button md-button *ngIf="auth.isAuthenticated()"
                (click)="auth.logout()">Log Out
        </button>

    </md-toolbar>
    <router-outlet></router-outlet>
    <app-search-artist></app-search-artist>
</md-grid-list>
