<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span id="logo">LOGO</span>

<!--
      <button
        class="btn btn-primary btn-margin"
        routerLink="/">
          Home
      </button>
-->
      <button
        
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="btn btn-primary btn-margin"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>

    </div>
  </div>
</nav>

<h1>WEATHER FESTIVAL APP</h1>

<input id="search-artiste" ng-model="input" placeholder="Search your favorite band !" (change)="goToArtist($event)">
<app-favorites></app-favorites>
<router-outlet></router-outlet>