a{
	cursor : pointer;
	text-decoration : underline;
	color : #2196F3;
}
a:hover{
	color : #BBDEFB;
}
#welcome-text{
	width : 70%;
	margin-left : 15%;
	color : white;
	font-size : 20px;
	letter-spacing : 0.5px;
	line-height : 40px;
}