<h4 *ngIf="auth.isAuthenticated()">
</h4>
<p id="welcome-text" *ngIf="!auth.isAuthenticated()">
  Hello you and welcome here ! Using this absolutely amazing app, you can look for the next concerts of your favorites bands, and instantly know wether the weather will be crappy as fuck or sunny as hell !<br>
  You can also <a (click)="auth.login()">log in</a> using your social media account to add the groups you want to keep an eye on into your favs. You will be able to get all the info instantly next time you come here !<br>
  See you around !
</p>
